{% extends 'customer/master.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="row">

    
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="Denim Jeans" style="width:30%">
            <div class="card-body">
                <h6></h6>
                <p> </p>
                <p></p>
            </div>

            <p class="price"></p>
            <p></p>
            <p><button>Add to Cart</button></p>
        
        </div>

    </div>


{% endblock %}